@use '../../base/scss/functions' as base;

.tmd-ripple {
  position         : absolute;
  transform        : scale(0);
  animation        : ripple-animation var(--tmd-ripple-speed, 600ms) linear;
  border-radius    : 50%;
  background-color : rgba(var(--tmd-ripple-color, base.getDefault('theme-on-primary')), var(--tmd-ripple-opacity, 0.7));
}

@keyframes ripple-animation {
  to {
	transform : scale(var(--tmd-ripple-scale, 4));
	opacity   : 0;
  }
}