@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-slider__pin-value-marker {
  @include typography-mixins.base;
  @include typography-mixins.type('body2');

  transform : rotate(45deg);
  color     : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
}