@use '../../base/scss/functions' as base;

.tmd-slider__input {
  appearance         : none;
  -webkit-appearance : none;
  width              : 100%;
  margin             : 0;
  height             : 2px;
  padding            : 0;

  // Webkit | Thumb
  &::-webkit-slider-thumb {
	appearance         : none;
	-webkit-appearance : none;
	border             : none;
	border-radius      : 50%;
	height             : 2px;
	width              : 2px;
	background-color   : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	transform          : scale(6);
	transition         : all 0.2s;
	z-index            : 2;
	cursor             : pointer;
  }

  // Moz | Thumb
  &::-moz-range-thumb {
	appearance         : none;
	-webkit-appearance : none;
	border             : none;
	border-radius      : 50%;
	height             : 2px;
	width              : 2px;
	background-color   : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	transform          : scale(6);
	transition         : all 0.2s;
	z-index            : 2;
	cursor             : pointer;
  }

  // Webkit | Track
  &::-webkit-slider-runnable-track {
	appearance         : none;
	-webkit-appearance : none;
	margin             : 17px 0;
	border-radius      : 1px;
	width              : 100%;
	height             : 2px;
	background-color   : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.24);
	z-index            : 2;
  }

  // Moz | Track
  &::-moz-range-track {
	appearance         : none;
	-webkit-appearance : none;
	margin             : 17px 0;
	border-radius      : 1px;
	width              : 100%;
	height             : 2px;
	background-color   : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.24);
	z-index            : 2;
  }
}

// Hover
.tmd-slider {
  &:hover {
	.tmd-slider__input {
	  &::-webkit-slider-thumb {
		box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.08);
	  }

	  &::-moz-range-thumb {
		box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.08);
	  }
	}
  }
}

// Focus
.tmd-slider {
  .tmd-slider__input:focus {
	&::-webkit-slider-thumb {
	  box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.12);
	}

	&::-moz-range-thumb {
	  box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.12);
	}
  }
}

// Active
.tmd-slider {
  .tmd-slider__input:active {
	&::-webkit-slider-thumb {
	  //transform  : scale(9);
	  box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.24);
	}

	&::-moz-range-thumb {
	  //transform  : scale(9);
	  box-shadow : 0 0 0 2px rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.24);
	}
  }
}

// Disable
.tmd-slider--disabled {
  .tmd-slider__input {
	&::-webkit-slider-thumb {
	  cursor           : initial;
	  pointer-events   : none;
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.8);
	  box-shadow       : none;
	}

	&::-moz-range-thumb {
	  cursor           : initial;
	  pointer-events   : none;
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.8);
	  box-shadow       : none;
	}

	&::-webkit-slider-runnable-track {
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.24);
	}

	&::-moz-range-track {
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.24);
	}
  }
}
