@use '../../base/scss/functions' as base;

.tmd-slider__pin {
  display          : flex;
  position         : absolute;
  top              : 0;
  left             : 0;
  align-items      : center;
  justify-content  : center;
  width            : 26px;
  height           : 26px;
  margin-top       : 5px;
  margin-left      : -13px;
  transform        : rotate(-45deg) scale(0) translate(0);
  border-radius    : 50% 50% 50% 0;
  z-index          : 1;
  transition       : transform .1s ease-out;
  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
}

// Active
.tmd-slider {
  .tmd-slider__input:active + .tmd-slider__pin,
  .tmd-slider__input:active + div + .tmd-slider__pin {
	transform : rotate(-45deg) scale(1) translate(19px, -20px);
  }
}