@use '../../base/scss/functions' as base;

.tmd-slider__progress {
  position         : absolute;
  content          : '';
  width            : auto;
  height           : 3px;
  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  z-index          : 1;
}

.tmd-slider--disabled {
  .tmd-slider__progress {
    background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
  }
}
