@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-dialog,
.tmd-dialog__scrim {
  position        : fixed;
  top             : 0;
  left            : 0;
  align-items     : center;
  justify-content : center;
  box-sizing      : border-box;
  width           : 100%;
  height          : 100%;
}

.tmd-dialog {
  display : none;
  z-index : 7;
}

.tmd-dialog__scrim {
  opacity          : 0;
  z-index          : -1;
  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.32);
}

.tmd-dialog--closing,
.tmd-dialog--opening,
.tmd-dialog--open, {
  display : flex;
}

.tmd-dialog--opening,
.tmd-dialog--closing {
  .tmd-dialog__scrim {
	transition : opacity .15s linear;
  }

  .tmd-dialog__container {
	transition : opacity 75ms linear, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
  }
}

.tmd-dialog--open {
  .tmd-dialog__scrim {
	opacity : 1;
  }

  .tmd-dialog__container {
	transform : scale(1);
	opacity   : 1;
  }
}

.tmd-dialog__container,
.tmd-dialog__surface {
  display    : flex;
  box-sizing : border-box;
}

.tmd-dialog__container {
  flex-direction  : row;
  align-items     : center;
  justify-content : space-around;
  height          : 100%;
  transform       : scale(.8);
  opacity         : 0;
  pointer-events  : none;
}

.tmd-dialog__surface {
  flex-direction   : column;
  flex-grow        : 0;
  flex-shrink      : 0;
  pointer-events   : auto;
  overflow-y       : auto;
  border-radius    : 4px;
  min-width        : 280px;
  max-width        : 100%;
  max-height       : 100%;
  box-shadow       : 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
}

.tmd-dialog__surface {
  max-height : calc(100% - 32px);
  max-width  : 560px;
  min-width  : 280px;
}

@media (min-width : 592px) {
  .tmd-dialog__surface {
	max-width : 560px;
  }
}

@media (max-width : 592px) {
  .tmd-dialog__surface {
	max-width : calc(100vw - 32px);
  }
}

.tmd-dialog__title {
  @include typography-mixins.base;
  @include typography-mixins.type('headline6');

  color         : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
  display       : block;
  position      : relative;
  flex-shrink   : 0;
  box-sizing    : border-box;
  margin        : 0;
  padding       : 0 24px 9px;
  border-bottom : 1px solid transparent;

  &:before {
	display        : inline-block;
	width          : 0;
	height         : 40px;
	content        : '';
	vertical-align : 0;
  }

  + .tmd-dialog__content {
	padding-top : 0;
  }
}

.tmd-dialog__content {
  @include typography-mixins.base;
  @include typography-mixins.type('body1');
  color      : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
  flex-grow  : 1;
  box-sizing : border-box;
  margin     : 0;
  padding    : 20px 24px;
  overflow   : auto;
}

.tmd-dialog__content {
  &::-webkit-scrollbar {
	width         : 8px;
	background    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.06);
	border-radius : 4px;
  }

  &::-webkit-scrollbar-thumb {
	background    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
	border-radius : 8px;
  }
}

.tmd-dialog__actions {
  display         : flex;
  position        : relative;
  flex-shrink     : 0;
  flex-wrap       : wrap;
  align-items     : center;
  justify-content : flex-end;
  box-sizing      : border-box;
  min-height      : 52px;
  margin          : 0;
  padding         : 8px;
  border-top      : 1px solid transparent;
}

.tmd-dialog--scrollable {
  .tmd-dialog__title {
	padding-bottom : 15px;

  }

  .tmd-dialog__title,
  .tmd-dialog__actions {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
  }

  .tmd-dialog__content {
	padding-top    : 8px;
	padding-bottom : 8px;
  }
}