@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-helper-line__text {
  @include typography-mixins.base;
  @include typography-mixins.type('caption');
  margin : 0;
  color  : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
}