@use '../../base/scss/functions' as base;

.tmd-icon-button {
  --tmd-ripple-color   : var(--tmd-theme-on-surface, #{base.getDefault('theme-on-surface')});
  --tmd-ripple-opacity : 0.3;
}

.tmd-icon-button {

  display          : inline-flex;
  align-content    : center;
  justify-content  : center;
  align-items      : center;
  position         : relative;
  box-sizing       : border-box;
  overflow         : visible;
  user-select      : none;

  width            : 48px;
  height           : 48px;
  font-size        : 24px;

  color            : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
  background-color : transparent;
  box-shadow       : none;
  border           : none transparent;
  border-radius    : 50%;
  outline          : none;
  vertical-align   : middle;

  // Firefox focus fix
  &::-moz-focus-inner {
	border : none;
  }
}

// Highlight box
// Change in brightness, on hover or focus
.tmd-icon-button {
  &:before,
  &:after {
	position      : absolute;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
	content       : '';
	opacity       : 0;
	border-radius : inherit;
	cursor        : pointer;
  }

  &:before {
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
  }
}

.tmd-icon-button {
  &:hover:before {
	opacity : var(--tmd-icon-button-highlight-box-opacity, 0.06);
  }

  &:focus:before {
	opacity : calc(var(--tmd-icon-button-highlight-box-opacity, 0.06) * 3);
  }

  &:hover:focus:before {
	opacity : calc(var(--tmd-icon-button-highlight-box-opacity, 0.06) * 4);
  }
}

// Pure css ripple.
// Is just a replacement for the 'tmd-ripple' component.
.tmd-icon-button {
  &:not(.tmd-ripple-upgraded) {

	&:before {
	  transition : opacity 0.2s;
	}

	&:after {
	  transition : opacity 1s, background-size 0.5s;
	  background : radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
	}

	&:active:after {
	  transition      : background-size 0s;
	  opacity         : 0.32;
	  background-size : 100% 100%;
	}

	&:active:hover:focus:before {
	  opacity : calc(var(--tmd-icon-button-highlight-box-opacity, 0.06) * 6);
	}
  }
}

// Disabled
.tmd-icon-button--disabled {
  cursor           : initial;
  color            : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
  background-color : transparent;

  &:before,
  &:after {
	opacity : 0;
  }
}