@use '../../base/scss/functions' as base;

.tmd-select__anchor {
  display          : flex;
  align-content    : center;
  align-items      : center;
  box-sizing       : border-box;
  width            : 100%;
  height           : 56px;
  padding-left     : 16px;
  border-radius    : 4px;
  outline          : none;
  background-color : transparent;
  box-shadow       : none;
  border-style     : solid;
  border-width     : 1px;
  border-color     : transparent;
  color            : inherit;

  &:before {
	cursor : pointer;
  }

  &:after {
	font-family : 'Material Icons';
	content     : '\e5c5';
	position    : absolute;
	right       : 8px;
	width       : 24px;
	height      : 24px;
	font-size   : 24px;
	color       : inherit;
	transform   : rotate(0);
	transition  : all .2s;
  }
}

// Outlined
.tmd-select--outlined {
  .tmd-select__anchor {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.42);

	&:before {
	  content       : '';
	  position      : absolute;
	  top           : 0;
	  bottom        : 0;
	  left          : 0;
	  right         : 0;
	  border        : 2px solid rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	  opacity       : 0;
	  border-radius : 4px;
	  transition    : opacity .3s;
	}
  }

  &:hover {
	.tmd-select__anchor {
	  border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	}
  }

  &.tmd-select--focus {
	.tmd-select__anchor {
	  &:before {
		opacity : 1;
	  }
	}
  }

  &.tmd-select--selected {
	.tmd-select__anchor {
	  color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	}
  }
}

// Filled
.tmd-select--filled {
  .tmd-select__anchor {
	border              : 0 solid rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.42);
	border-radius       : 4px 4px 0 0;
	border-bottom-width : 1px;
	background-color    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.03);
	padding-top         : 8px;

	&:before {
	  content          : '';
	  position         : absolute;
	  bottom           : 0;
	  left             : 0;
	  right            : 0;
	  height           : 2px;
	  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	  transform        : scale(0);
	  transition       : transform .2s;
	}
  }

  &:hover {
	.tmd-select__anchor {
	  border-color     : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.06);
	}
  }

  &.tmd-select--focus {
	.tmd-select__anchor {
	  &:before {
		transform : scale(1);
	  }
	}
  }

  &.tmd-select--selected {
	.tmd-select__anchor {
	  color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	}
  }
}

// List opened
.tmd-select--list-opened {
  .tmd-select__anchor {
	&:after {
	  transform : rotate(180deg);
	  color     : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }
}

// Disable
.tmd-select--disabled,
.tmd-select--disabled:hover {
  .tmd-select__anchor {
	pointer-events : none;
	cursor         : none;
	color          : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;
	border-color   : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;

	&:before {
	  visibility : hidden;
	}
  }
}