@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-select {
  @include typography-mixins.base;
  @include typography-mixins.type('body1');

  position      : relative;
  display       : inline-flex;
  align-content : center;
  align-items   : center;
  box-sizing    : border-box;
  width         : 100%;
  height        : 56px;
  color         : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);

}

// Hide default select
.tmd-select {
  label,
  select {
	display : none;
  }
}