@use '../../base/scss/functions' as base;

.tmd-select__label {
  display          : inline-flex;
  align-content    : center;
  align-items      : center;
  top              : 25px;
  bottom           : 25px;
  position         : absolute;
  left             : 12px;
  padding          : 0 4px 0 4px;
  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  transition       : font-size 0.2s, top 0.2s;
  z-index          : 1;
}

// Outlined
.tmd-select--outlined {
  &.tmd-select--focus {
	.tmd-select__label {
	  color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }

  &.tmd-select--selected,
  &.tmd-select--focus {
	.tmd-select__label {
	  top              : -13px;
	  bottom           : auto;
	  font-size        : 75%;
	  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
	}
  }
}

// Filled
.tmd-select--filled {
  .tmd-select__label {
	background-color : transparent;
  }

  &.tmd-select--focus {
	.tmd-select__label {
	  color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }

  &.tmd-select--selected,
  &.tmd-select--focus {
	.tmd-select__label {
	  top       : 0;
	  bottom    : auto;
	  font-size : 75%;
	}
  }
}

// Disable
.tmd-select--disabled {
  .tmd-select__label {
	color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;
  }
}