@use '../../base/scss/functions' as base;

.tmd-button--unelevated {
  --tmd-button-highlight-box-opacity : 0.08;
  --tmd-ripple-color                 : var(--tmd-theme-on-primary, #{base.getDefault('theme-on-primary')});
}

.tmd-button--unelevated {
  padding          : 0 16px;
  color            : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));

  &:before {
    background-color : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
  }

  // Disabled
  &.tmd-button--disabled {
    background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
  }
}