@use '../../base/scss/functions' as base;

.tmd-button--raised {
  --tmd-button-highlight-box-opacity : 0.08;
  --tmd-ripple-color                 : var(--tmd-theme-on-primary, #{base.getDefault('theme-on-primary')});
}

.tmd-button--raised {
  padding          : 0 16px;
  color            : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  box-shadow       : 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &:before {
	background-color : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
  }

  // Active
  &:active {
	box-shadow : 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  // Disabled
  &.tmd-button--disabled {
	background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
	box-shadow       : none;
  }
}