@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-button {
  --tmd-ripple-color : var(--tmd-theme-primary, #{base.getDefault('theme-primary')});
}

.tmd-button {
  @include typography-mixins.base;
  @include typography-mixins.type('button');

  position         : relative;
  display          : inline-flex;
  align-content    : center;
  align-items      : center;
  flex             : 0 0 auto;
  flex-direction   : row;
  justify-content  : center;
  box-sizing       : border-box;
  overflow         : visible;
  user-select      : none;

  min-width        : 64px;
  height           : 36px;
  padding          : 0 8px;

  vertical-align   : middle;
  text-overflow    : ellipsis;
  color            : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  border           : none transparent;
  border-radius    : 4px;
  outline          : none;
  background-color : transparent;
  box-shadow       : none;

  // Firefox focus fix
  &::-moz-focus-inner {
	border : none;
  }
}

// Highlight box
// Change in brightness, on hover or focus
.tmd-button {
  &:before,
  &:after {
	position      : absolute;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
	content       : '';
	opacity       : 0;
	border-radius : inherit;
	cursor        : pointer;
  }

  &:before {
	background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  }
}

.tmd-button {
  &:hover:before {
	opacity : var(--tmd-button-highlight-box-opacity, 0.06);
  }

  &:focus:before {
	opacity : calc(var(--tmd-button-highlight-box-opacity, 0.06) * 3);
  }

  &:hover:focus:before {
	opacity : calc(var(--tmd-button-highlight-box-opacity, 0.06) * 4);
  }
}

// Pure css ripple.
// Is just a replacement for the 'tmd-ripple' component.
.tmd-button {
  &:not(.tmd-ripple-upgraded) {

	&:before {
	  transition : opacity 0.2s;
	}

	&:after {
	  transition : opacity 1s, background-size 0.5s;
	  background : radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
	}

	&:active:after {
	  transition      : background-size 0s;
	  opacity         : 0.32;
	  background-size : 100% 100%;
	}

	&:active:hover:focus:before {
	  opacity : calc(var(--tmd-button-highlight-box-opacity, 0.06) * 6);
	}
  }
}

// Disabled
.tmd-button {
  &.tmd-button--disabled {
	cursor           : initial;
	color            : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	background-color : transparent;

	&:before,
	&:after {
	  opacity : 0;
	}
  }
}