@use '../../base/scss/functions' as base;

.tmd-button--outlined {
  padding      : 0 16px;
  border-width : 1px;
  border-style : solid;
  border-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')));

  &:before,
  &:after {
	border-radius : 3px;
  }

  &.tmd-button--disabled {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
  }
}