/* Default values */
$default : (
		font-family : #{'Roboto', 'Segoe UI', BlinkMacSystemFont, system-ui, -apple-system},
		theme-primary : #{98, 0, 238},
		theme-on-primary : #{255, 255, 255},
		theme-surface : #{255, 255, 255},
		theme-on-surface : #{0, 0, 0},
)
