<section class="demo-section-buttons">
    <h3 class="tmd-typography--headline3">Buttons</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Text buttons</h3>
                <button class="tmd-button" type="button">Default</button>
                <button class="tmd-button" type="button">Dense</button>
                <button class="tmd-button" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
                <button class="tmd-button tmd-button--disabled" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Raised Button</h3>
                <button class="tmd-button tmd-button--raised" type="button">Default</button>
                <button class="tmd-button tmd-button--raised" type="button">Dense</button>
                <button class="tmd-button tmd-button--raised" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
                <button class="tmd-button tmd-button--raised tmd-button--disabled" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Unelevated Button</h3>
                <button class="tmd-button tmd-button--unelevated" type="button">Default</button>
                <button class="tmd-button tmd-button--unelevated" type="button">Dense</button>
                <button class="tmd-button tmd-button--unelevated" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
                <button class="tmd-button tmd-button--unelevated tmd-button--disabled" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Outlined Button</h3>
                <button class="tmd-button tmd-button--outlined" type="button">Default</button>
                <button class="tmd-button tmd-button--outlined" type="button">Dense</button>
                <button class="tmd-button tmd-button--outlined" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
                <button class="tmd-button tmd-button--outlined tmd-button--disabled" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Shaped Button</h3>
                <button class="tmd-button tmd-button--unelevated tmd-button--shaped" type="button">Default</button>
                <button class="tmd-button tmd-button--unelevated tmd-button--shaped" type="button">Dense</button>
                <button class="tmd-button tmd-button--unelevated tmd-button--shaped" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
                <button class="tmd-button tmd-button--unelevated tmd-button--shaped tmd-button--disabled" type="button">
                    <span class="material-icons tmd-button__icon">star</span>
                    Icon
                </button>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Icon Button</h3>

                <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button">star</button>
                <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-icon-button--disabled"
                        type="button">close
                </button>

            </div>
        </div>
    </div>
</section>