<section class="demo-section-card">
    <h3 class="tmd-typography--headline3">Card</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Basic</h3>

                <div class="tmd-card">
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__media tmd-card__media--16-9" style="background-image: url('https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg');"></div>
                        <div class="tmd-card__primary">
                            <h2 class="tmd-card__title">Our Changing Planet</h2>
                            <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                        </div>
                        <div class="tmd-card__secondary">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Basic with Text over Media</h3>

                <div class="tmd-card tmd-card--with-text-over-media">
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__media tmd-card__media--16-9" style="background-image: url('https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg');">
                            <div class="tmd-card__media-content">
                                <div class="tmd-card__primary">
                                    <h2 class="tmd-card__title">Our Changing Planet</h2>
                                    <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                                </div>
                            </div>
                        </div>
                        <div class="tmd-card__secondary">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Basic with Header</h3>

                <div class="tmd-card tmd-card--with-header">
                    <div class="tmd-card__primary">
                        <h2 class="tmd-card__title">Our Changing Planet</h2>
                        <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                    </div>
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__media tmd-card__media--16-9" style="background-image: url('https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg');"></div>
                        <div class="tmd-card__secondary">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Horizontal image and text</h3>

                <div class="tmd-card tmd-card--horizontal">
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__media tmd-card__media--square" style="background-image: url('https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg');"></div>
                        <div class="tmd-card__primary">
                            <h2 class="tmd-card__title">Our Changing Planet</h2>
                            <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                        </div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Without image</h3>

                <div class="tmd-card">
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__primary">
                            <h2 class="tmd-card__title">Our Changing Planet</h2>
                            <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                        </div>
                        <div class="tmd-card__secondary">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <h3 class="tmd-typography--subtitle1">Shaped</h3>

                <div class="tmd-card tmd-card--shaped">
                    <div class="tmd-card__body" tabindex="0">
                        <div class="tmd-card__primary">
                            <h2 class="tmd-card__title">Our Changing Planet</h2>
                            <h3 class="tmd-card__subtitle">by Kurt Wagner</h3>
                        </div>
                        <div class="tmd-card__secondary">Visit ten places on our planet that are undergoing the biggest changes today.</div>
                    </div>
                    <div class="tmd-card__actions">
                        <div class="tmd-card__button-group">
                            <button class="tmd-button tmd-card__button">Read</button>
                            <button class="tmd-button tmd-card__button">Bookmark</button>
                        </div>
                        <div class="tmd-card__icon-group">
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">favorite</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">share</span>
                            </button>
                            <button class="tmd-icon-button tmd-card__icon" type="button">
                                <span class="material-icons tmd-icon-button__icon">more_vert</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>