<section class="demo-section-checkbox">
    <h3 class="tmd-typography--headline3">Checkboxes</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Inline</h3>
                <label class="tmd-checkbox">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Unchecked</span>
                </label>

                <label class="tmd-checkbox">
                    <input class="tmd-checkbox__input" type="checkbox" checked>
                    <span class="tmd-checkbox__label">Checked</span>
                </label>

                <label class="tmd-checkbox">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Indeterminate</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--disabled">
                    <input class="tmd-checkbox__input" type="checkbox" disabled>
                    <span class="tmd-checkbox__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Inline label left</h3>
                <label class="tmd-checkbox tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Unchecked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox" checked>
                    <span class="tmd-checkbox__label">Checked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Indeterminate</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--label-left tmd-checkbox--disabled">
                    <input class="tmd-checkbox__input" type="checkbox" disabled>
                    <span class="tmd-checkbox__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Block</h3>
                <label class="tmd-checkbox tmd-checkbox--block">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Unchecked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block">
                    <input class="tmd-checkbox__input" type="checkbox" checked>
                    <span class="tmd-checkbox__label">Checked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Indeterminate</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block tmd-checkbox--disabled">
                    <input class="tmd-checkbox__input" type="checkbox" disabled>
                    <span class="tmd-checkbox__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <h3 class="tmd-typography--subtitle1">Block label left</h3>
                <label class="tmd-checkbox tmd-checkbox--block tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Unchecked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox" checked>
                    <span class="tmd-checkbox__label">Checked</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block tmd-checkbox--label-left">
                    <input class="tmd-checkbox__input" type="checkbox">
                    <span class="tmd-checkbox__label">Indeterminate</span>
                </label>

                <label class="tmd-checkbox tmd-checkbox--block tmd-checkbox--label-left tmd-checkbox--disabled">
                    <input class="tmd-checkbox__input" type="checkbox" disabled>
                    <span class="tmd-checkbox__label">Disabled</span>
                </label>
            </div>

        </div>
    </div>
</section>