<section class="demo-section-chips">
    <h3 class="tmd-typography--headline3">Chips</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Choice Chips</h3>
                <div class="tmd-chip-set tmd-chip-set--choice">
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Extra Small</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Small</span>
                    </div>
                    <div class="tmd-chip tmd-chip--selected">
                        <span class="tmd-chip__text">Medium</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Large</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Extra Large</span>
                    </div>
                </div>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Filter Chips</h3>
                <div class="tmd-chip-set tmd-chip-set--filter">
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Extra Small</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Small</span>
                    </div>
                    <div class="tmd-chip tmd-chip--selected">
                        <span class="tmd-chip__text">Medium</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Large</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="tmd-chip__text">Extra Large</span>
                    </div>
                </div>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">With leading icon</h3>
                <div class="tmd-chip-set">
                    <div class="tmd-chip">
                        <span class="material-icons tmd-chip__icon tmd-chip__icon--leading">bookmark</span>
                        <span class="tmd-chip__text">Extra Small</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="material-icons tmd-chip__icon tmd-chip__icon--leading">alarm</span>
                        <span class="tmd-chip__text">Small</span>
                    </div>
                    <div class="tmd-chip tmd-chip--selected">
                        <span class="material-icons tmd-chip__icon tmd-chip__icon--leading">directions</span>
                        <span class="tmd-chip__text">Medium</span>
                    </div>
                    <div class="tmd-chip">
                        <span class="material-icons tmd-chip__icon tmd-chip__icon--leading">event</span>
                        <span class="tmd-chip__text">Large</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>