<section class="demo-section-layout-grid">
    <h3 class="tmd-typography--headline3">Grid</h3>

    <h3 class="tmd-typography--subtitle1">Columns</h3>
    <div class="tmd-layout-grid demo-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-3 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-1 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-3 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-1 demo-cell"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-8 demo-cell"></div>
        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Grid Left Alignment</h3>
    <p class="tmd-typography--body2">This requires a max-width on the top-level grid element.</p>
    <div class="tmd-layout-grid tmd-layout-grid--align-left demo-grid demo-grid--alignment">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell demo-cell"></div>
            <div class="tmd-layout-grid__cell demo-cell"></div>
            <div class="tmd-layout-grid__cell demo-cell"></div>
        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Right Alignment</h3>
    <p class="tmd-typography--body2">This requires a max-width on the top-level grid element.</p>
    <div class="tmd-layout-grid tmd-layout-grid--align-right demo-grid demo-grid--alignment">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell demo-cell"></div>
            <div class="tmd-layout-grid__cell demo-cell"></div>
            <div class="tmd-layout-grid__cell demo-cell"></div>
        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Cell Alignment</h3>
    <p class="tmd-typography--body2">Cell alignment requires a cell height smaller than the inner height of the
        grid.</p>
    <div class="tmd-layout-grid demo-grid demo-grid--cell-alignment">
        <div class="tmd-layout-grid__inner demo-inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--align-top demo-cell demo-cell--alignment"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--align-middle demo-cell demo-cell--alignment"></div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--align-bottom demo-cell demo-cell--alignment"></div>
        </div>
    </div>
</section>