<section class="demo-section-list">
    <h3 class="tmd-typography--headline3">List</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Single-Line</h3>

                <ul class="tmd-list demo-list">
                    <li class="tmd-list-item">Line item</li>
                    <li class="tmd-list-item">Line item</li>
                    <li class="tmd-list-item">Line item</li>
                    <li class="tmd-list-item">Line item</li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Leading Icon</h3>

                <ul class="tmd-list demo-list">
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Two-Line</h3>

                <ul class="tmd-list tmd-list--two-line demo-list">
                    <li class="tmd-list-item">
                    <span class="tmd-list-item__text">
                        <span class="tmd-list-item__primary-text">Line item</span>
                        <span class="tmd-list-item__secondary-text">Secondary text</span>
                    </span>
                    </li>
                    <li class="tmd-list-item">
                    <span class="tmd-list-item__text">
                        <span class="tmd-list-item__primary-text">Line item</span>
                        <span class="tmd-list-item__secondary-text">Secondary text</span>
                    </span>
                    </li>
                    <li class="tmd-list-item">
                    <span class="tmd-list-item__text">
                        <span class="tmd-list-item__primary-text">Line item</span>
                        <span class="tmd-list-item__secondary-text">Secondary text</span>
                    </span>
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">List with selected item</h3>

                <ul class="tmd-list demo-list demo-selected">
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item tmd-list-item--selected">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">List with shaped selected item</h3>

                <ul class="tmd-list tmd-list--items-shaped demo-list demo-list-selected">
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item tmd-list-item--selected">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">wifi</span>
                        Line item
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Trailing Icon</h3>

                <ul class="tmd-list demo-list">
                    <li class="tmd-list-item">
                        Line item
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item tmd-list-item--selected">
                        Line item
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item">
                        Line item
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item">
                        Line item
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Two-Line with Leading and Trailing Icon and Divider</h3>

                <ul class="tmd-list tmd-list--two-line tmd-list--avatar-list demo-list demo-list-selected">
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item tmd-list-item--selected">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-divider" role="separator"></li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                </ul>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <h3 class="tmd-typography--subtitle1">Ripple upgrade</h3>

                <ul class="tmd-list tmd-list--two-line tmd-list--avatar-list demo-list demo-list-selected demo-list-ripple">
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item tmd-list-item--selected">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-divider" role="separator"></li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                    <li class="tmd-list-item">
                        <span class="tmd-list-item__graphic material-icons" aria-hidden="true">folder</span>
                        <span class="tmd-list-item__text">
                            <span class="tmd-list-item__primary-text">Line item</span>
                            <span class="tmd-list-item__secondary-text">Secondary text</span>
                        </span>
                        <span class="tmd-list-item__meta material-icons" aria-hidden="true">info</span>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>