<section class="demo-section-menu">
    <h3 class="tmd-typography--headline3">Menu</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6" style="display: flex">

                <button class="tmd-button tmd-menu__button" type="button">Open Menu</button>
                <div class="tmd-menu">
                    <div class="tmd-list tmd-menu__list">
                        <a class="tmd-list-item">Line item 1</a>
                        <a class="tmd-list-item">Line item 2</a>
                        <a class="tmd-list-item">Line item 3</a>
                        <a class="tmd-list-item">Line item 4</a>
                        <div class="tmd-list-divider"></div>
                        <a class="tmd-list-item">Line item 5</a>
                        <a class="tmd-list-item">Line item 6</a>
                        <a class="tmd-list-item">Line item 7</a>
                        <a class="tmd-list-item">Line item 7</a>
                    </div>
                </div>

                <button class="tmd-button tmd-menu__button" type="button">Open Menu</button>
                <div class="tmd-menu">
                    <div class="tmd-list tmd-menu__list">
                        <a class="tmd-list-item">Line item 1</a>
                        <a class="tmd-list-item">Line item 2</a>
                        <a class="tmd-list-item">Line item 3</a>
                        <a class="tmd-list-item">Line item 4</a>
                        <div class="tmd-list-divider"></div>
                        <a class="tmd-list-item">Line item 5</a>
                        <a class="tmd-list-item">Line item 6</a>
                        <a class="tmd-list-item">Line item 7</a>
                        <a class="tmd-list-item">Line item 7</a>
                    </div>
                </div>

                <a class="tmd-button tmd-menu__button">Open Menu</a>
                <div class="tmd-menu">
                    <div class="tmd-list tmd-menu__list">
                        <a class="tmd-list-item">Line item 1</a>
                        <a class="tmd-list-item">Line item 2</a>
                        <a class="tmd-list-item">Line item 3</a>
                        <a class="tmd-list-item">Line item 4</a>
                        <div class="tmd-list-divider"></div>
                        <a class="tmd-list-item">Line item 5</a>
                        <a class="tmd-list-item">Line item 6</a>
                        <a class="tmd-list-item">Line item 7</a>
                        <a class="tmd-list-item">Line item 7</a>
                    </div>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">

                <a class="tmd-button tmd-menu__button" data-tmd-menu="demo-menu">Open Menu</a>
                <div class="tmd-menu">
                    <div class="tmd-list tmd-menu__list">
                        <a class="tmd-list-item">Line item 1</a>
                        <a class="tmd-list-item">Line item 2</a>
                        <a class="tmd-list-item">Line item 3</a>
                        <a class="tmd-list-item">Line item 4</a>
                        <div class="tmd-list-divider"></div>
                        <a class="tmd-list-item">Line item 5</a>
                        <a class="tmd-list-item">Line item 6</a>
                        <a class="tmd-list-item">Line item 7</a>
                        <a class="tmd-list-item">Line item 7</a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>