<section class="demo-section-progress">
    <h3 class="tmd-typography--headline3">Progress</h3>
    <div class="tmd-layout-grid">
        <h3 class="tmd-typography--subtitle1">Circular</h3>
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular tmd-theme__primary--success"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular tmd-theme__primary--warning"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular tmd-theme__primary--danger"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular tmd-theme__primary--info"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <progress class="tmd-progress-circular tmd-theme__primary--dark"></progress>
            </div>
        </div>

        <h3 class="tmd-typography--subtitle1">Linear indeterminate</h3>
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear tmd-theme__primary--success"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear tmd-theme__primary--danger"></progress>
            </div>
        </div>

        <h3 class="tmd-typography--subtitle1">Linear determinate</h3>
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear" value="50" min="0" max="100"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear tmd-theme__primary--success" value="50" min="0" max="100"></progress>
            </div>
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">
                <progress class="tmd-progress-linear tmd-theme__primary--danger" value="50" min="0" max="100"></progress>
            </div>
        </div>
    </div>
</section>