<section class="demo-section-radio">
    <h3 class="tmd-typography--headline3">Radio buttons</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Inline</h3>
                <label class="tmd-radio">
                    <input class="tmd-radio__input" type="radio" name="radio1" checked>
                    <span class="tmd-radio__label">Radio</span>
                </label>

                <label class="tmd-radio">
                    <input class="tmd-radio__input" type="radio" name="radio1">
                    <span class="tmd-radio__label">Radio</span>
                </label>


                <label class="tmd-radio tmd-radio--disabled">
                    <input class="tmd-radio__input" type="radio" name="radio1" >
                    <span class="tmd-radio__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Inline abel left</h3>
                <label class="tmd-radio tmd-radio--label-left">
                    <input class="tmd-radio__input" type="radio" name="radio2" checked>
                    <span class="tmd-radio__label">Radio</span>
                </label>

                <label class="tmd-radio tmd-radio--label-left">
                    <input class="tmd-radio__input" type="radio" name="radio2">
                    <span class="tmd-radio__label">Radio</span>
                </label>


                <label class="tmd-radio tmd-radio--label-left tmd-radio--disabled">
                    <input class="tmd-radio__input" type="radio" name="radio2">
                    <span class="tmd-radio__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Block</h3>
                <label class="tmd-radio tmd-radio--block">
                    <input class="tmd-radio__input" type="radio" name="radio3" checked>
                    <span class="tmd-radio__label">Radio</span>
                </label>

                <label class="tmd-radio tmd-radio--block">
                    <input class="tmd-radio__input" type="radio" name="radio3">
                    <span class="tmd-radio__label">Radio</span>
                </label>


                <label class="tmd-radio tmd-radio--block tmd-radio--disabled">
                    <input class="tmd-radio__input" type="radio" name="radio3">
                    <span class="tmd-radio__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <h3 class="tmd-typography--subtitle1">Block label left</h3>
                <label class="tmd-radio tmd-radio--block tmd-radio--label-left">
                    <input class="tmd-radio__input" type="radio" name="radio4" checked>
                    <span class="tmd-radio__label">Radio</span>
                </label>

                <label class="tmd-radio tmd-radio--block tmd-radio--label-left">
                    <input class="tmd-radio__input" type="radio" name="radio4">
                    <span class="tmd-radio__label">Radio</span>
                </label>


                <label class="tmd-radio tmd-radio--block tmd-radio--label-left tmd-radio--disabled">
                    <input class="tmd-radio__input" type="radio" name="radio4">
                    <span class="tmd-radio__label">Disabled</span>
                </label>
            </div>

        </div>
    </div>
</section>