<section class="demo-section-select">
    <h3 class="tmd-typography--headline3">Select</h3>

    <h3 class="tmd-typography--subtitle1">Outlined</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">

                <div class="tmd-select tmd-select--outlined">
                    <div class="tmd-select__anchor"></div>
                    <div class="tmd-select__label">Select</div>
                    <label>
                        <select>
                            <option></option>
                            <option value="opt1">Option 1</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3" selected>Option 3</option>
                        </select>
                    </label>
                </div>

                <div class="tmd-select tmd-select--outlined tmd-select--disabled">
                    <div class="tmd-select__anchor"></div>
                    <div class="tmd-select__label">Select</div>
                    <label>
                        <select>
                            <option></option>
                            <option value="opt1" selected>Option 1</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                        </select>
                    </label>
                </div>


            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">

                <div class="tmd-select tmd-select--filled">
                    <div class="tmd-select__anchor"></div>
                    <div class="tmd-select__label">Select</div>
                    <label>
                        <select>
                            <option></option>
                            <option value="opt1">Option 1</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                        </select>
                    </label>
                </div>

                <div class="tmd-select tmd-select--filled tmd-select--disabled">
                    <div class="tmd-select__anchor"></div>
                    <div class="tmd-select__label">Select</div>
                    <label>
                        <select>
                            <option></option>
                            <option value="opt1" selected>Option 1</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                        </select>
                    </label>
                </div>

            </div>

        </div>
    </div>

</section>
