<section class="demo-section-slider">
    <h3 class="tmd-typography--headline3">Sliders</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Default</h3>

                <div class="tmd-slider">
                    <input type="range" class="tmd-slider__input" min="0" max="100" step="5" value="50" />
                </div>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Discrete</h3>

                <div class="tmd-slider tmd-slider--discrete">
                    <input type="range" class="tmd-slider__input" min="0" max="100" step="5" value="50" />
                </div>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Discrete with Tick Marks</h3>

                <div class="tmd-slider tmd-slider--discrete tmd-slider--display-markers">
                    <input type="range" class="tmd-slider__input" min="0" max="100" step="5" value="50" />
                </div>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-12">
                <h3 class="tmd-typography--subtitle1">Discrete with Tick Marks</h3>

                <div class="tmd-slider tmd-slider--disabled">
                    <input type="range" class="tmd-slider__input" min="0" max="100" step="5" value="50" />
                </div>
            </div>

        </div>
    </div>
</section>