<section class="demo-section-snackbar">
    <h3 class="tmd-typography--headline3">Snackbar</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <button class="tmd-button" type="button" data-tmd-snackbar="snackbar-baseline">Baseline</button>
                <button class="tmd-button" type="button" data-tmd-snackbar="snackbar-leading">Leading</button>
                <button class="tmd-button" type="button" data-tmd-snackbar="snackbar-stacked">Stacked</button>
            </div>
        </div>
    </div>

    <div id="snackbar-baseline" class="tmd-snackbar">
        <div class="tmd-snackbar__surface">
            <div class="tmd-snackbar__label">Can't send photo. Retry in 5 seconds.</div>
            <div class="tmd-snackbar__actions">
                <button type="button" class="tmd-button tmd-snackbar__action">
                    <div class="tmd-button__label">Retry</div>
                </button>
                <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-snackbar__dismiss" type="button"
                        data-tmd-snackbar-action="close">close
                </button>
            </div>
        </div>
    </div>

    <div id="snackbar-leading" class="tmd-snackbar tmd-snackbar--leading">
        <div class="tmd-snackbar__surface">
            <div class="tmd-snackbar__label">Your photo has been archived.</div>
            <div class="tmd-snackbar__actions">
                <button type="button" class="tmd-button tmd-snackbar__action">
                    <div class="tmd-button__label">Undo</div>
                </button>
                <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-snackbar__dismiss" type="button"
                        data-tmd-snackbar-action="close">close
                </button>
            </div>
        </div>
    </div>

    <div id="snackbar-stacked" class="tmd-snackbar tmd-snackbar--stacked">
        <div class="tmd-snackbar__surface">
            <div class="tmd-snackbar__label">This item already has the label "travel". You can add a new label.</div>
            <div class="tmd-snackbar__actions">
                <button type="button" class="tmd-button tmd-snackbar__action">
                    <div class="tmd-button__label">Add a new label</div>
                </button>
                <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-snackbar__dismiss" type="button"
                        data-tmd-snackbar-action="close">close
                </button>
            </div>
        </div>
    </div>
</section>