<section class="demo-section-switch">
    <h3 class="tmd-typography--headline3">Switch</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-6">
                <h3 class="tmd-typography--subtitle1">Default</h3>

                <label class="tmd-switch">
                    <input class="tmd-switch__input" type="checkbox" role="switch" checked>
                    <span class="tmd-switch__label">Switched On</span>
                </label>

                <label class="tmd-switch">
                    <input class="tmd-switch__input" type="checkbox" role="switch">
                    <span class="tmd-switch__label">Switched Off</span>
                </label>

                <label class="tmd-switch tmd-switch--disabled">
                    <input class="tmd-switch__input" type="checkbox" role="switch" checked>
                    <span class="tmd-switch__label">Disabled</span>
                </label>
            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-2">
                <h3 class="tmd-typography--subtitle1">Block + label left</h3>

                <label class="tmd-switch tmd-switch--block tmd-switch--label-left">
                    <input class="tmd-switch__input" type="checkbox" role="switch" checked>
                    <span class="tmd-switch__label">Switched On</span>
                </label>

                <label class="tmd-switch tmd-switch--block tmd-switch--label-left">
                    <input class="tmd-switch__input" type="checkbox" role="switch">
                    <span class="tmd-switch__label">Switched Off</span>
                </label>

                <label class="tmd-switch tmd-switch--block tmd-switch--label-left tmd-switch--disabled">
                    <input class="tmd-switch__input" type="checkbox" role="switch" checked>
                    <span class="tmd-switch__label">Disabled</span>
                </label>
            </div>
        </div>
    </div>
</section>