<section class="demo-section-table">

    <h4 class="tmd-table-header">Data Table Standard</h4>
    <div class="tmd-table">
        <table class="tmd-table__table">
            <thead class="tmd-table__header">
            <tr class="tmd-table__header-row">
                <td class="tmd-table__header-cell">ID</td>
                <td class="tmd-table__header-cell">Name</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Age</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Percentage</td>
                <td class="tmd-table__header-cell">Action</td>
            </tr>
            </thead>
            <tbody class="tmd-table__content">
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">1</td>
                <td class="tmd-table__cell">John</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">25</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">30%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">2</td>
                <td class="tmd-table__cell">Jane</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">35</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">20%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">3</td>
                <td class="tmd-table__cell">Jude</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">45</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">79%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="tmd-table-header">Data Table with Row Selection</h4>
    <div class="tmd-table">
        <table class="tmd-table__table">
            <thead class="tmd-table__header">
            <tr class="tmd-table__header-row">
                <td class="tmd-table__header-cell tmd-table__header-cell--checkbox">
                    <label class="tmd-checkbox">
                        <input class="tmd-checkbox__input" type="checkbox">
                    </label>
                </td>
                <td class="tmd-table__header-cell">ID</td>
                <td class="tmd-table__header-cell">Name</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Age</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Percentage</td>
                <td class="tmd-table__header-cell">Action</td>
            </tr>
            </thead>
            <tbody class="tmd-table__content">
            <tr class="tmd-table__row">
                <td class="tmd-table__cell tmd-table__cell--checkbox">
                    <label class="tmd-checkbox">
                        <input class="tmd-checkbox__input" type="checkbox">
                    </label>
                </td>
                <td class="tmd-table__cell">1</td>
                <td class="tmd-table__cell">John</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">25</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">30%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell tmd-table__cell--checkbox">
                    <label class="tmd-checkbox">
                        <input class="tmd-checkbox__input" type="checkbox" checked>
                    </label>
                </td>
                <td class="tmd-table__cell">2</td>
                <td class="tmd-table__cell">Jane</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">35</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">20%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell tmd-table__cell--checkbox">
                    <label class="tmd-checkbox">
                        <input class="tmd-checkbox__input" type="checkbox">
                    </label>
                </td>
                <td class="tmd-table__cell">3</td>
                <td class="tmd-table__cell">Jude</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">45</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">79%</td>
                <td class="tmd-table__cell">
                    <button class="tmd-button tmd-button--unelevated" type="button">Delete</button>
                    <button class="tmd-button tmd-button--outlined" type="button">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4 class="tmd-table-header">Data Table with Pagination</h4>
    <div class="tmd-table">
        <div class="tmd-table-container">
            <table class="tmd-table__table">
                <thead class="tmd-table__header">
                <tr class="tmd-table__header-row">
                    <th class="tmd-table__header-cell tmd-table__header-cell--checkbox">
                        <label class="tmd-checkbox">
                            <input class="tmd-checkbox__input" type="checkbox">
                        </label>
                    </th>
                    <th class="tmd-table__header-cell">ID</th>
                    <th class="tmd-table__header-cell tmd-table__header-cell--with-sort">
                        <div class="tmd-table__header-cell-wrapper">
                            <button class="tmd-icon-button material-icons tmd-table__sort-icon-button">arrow_upward
                            </button>
                            <div class="tmd-table__header-cell-label">Name</div>
                        </div>
                    </th>
                    <th class="tmd-table__header-cell tmd-table__cell--header-numeric tmd-table__header-cell--with-sort">
                        <div class="tmd-table__header-cell-wrapper">
                            <button class="tmd-icon-button material-icons tmd-table__sort-icon-button">arrow_upward
                            </button>
                            <div class="tmd-table__header-cell-label">Age</div>
                        </div>
                    </th>
                    <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Percentage</td>
                    <th class="tmd-table__header-cell">Comment</th>
                </tr>
                </thead>
                <tbody class="tmd-table__content">
                <tr class="tmd-table__row">
                    <td class="tmd-table__cell tmd-table__cell--checkbox">
                        <label class="tmd-checkbox">
                            <input class="tmd-checkbox__input" type="checkbox">
                        </label>
                    </td>
                    <td class="tmd-table__cell">1</td>
                    <td class="tmd-table__cell">John</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">25</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">30%</td>
                    <td class="tmd-table__cell">Comment 1</td>
                </tr>
                <tr class="tmd-table__row">
                    <td class="tmd-table__cell tmd-table__cell--checkbox">
                        <label class="tmd-checkbox">
                            <input class="tmd-checkbox__input" type="checkbox" checked>
                        </label>
                    </td>
                    <td class="tmd-table__cell">2</td>
                    <td class="tmd-table__cell">Jane</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">35</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">20%</td>
                    <td class="tmd-table__cell">Comment 2</td>
                </tr>
                <tr class="tmd-table__row">
                    <td class="tmd-table__cell tmd-table__cell--checkbox">
                        <label class="tmd-checkbox">
                            <input class="tmd-checkbox__input" type="checkbox">
                        </label>
                    </td>
                    <td class="tmd-table__cell">3</td>
                    <td class="tmd-table__cell">Jude</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">45</td>
                    <td class="tmd-table__cell tmd-table__cell--numeric">79%</td>
                    <td class="tmd-table__cell">Comment 3</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tmd-table__pagination">
            <div class="tmd-table__pagination-trailing">
                <div class="tmd-table__pagination-rows-per-page">
                    <div class="tmd-table__pagination-rows-per-page-label">Rows per page</div>
                    <div class="tmd-select tmd-select--outlined tmd-table__pagination-rows-per-page-select">
                        <div class="tmd-select__anchor"></div>
                        <div class="tmd-select__label"></div>
                        <label>
                            <select>
                                <option value="opt1" selected>25</option>
                                <option value="opt2">50</option>
                                <option value="opt3">100</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="tmd-table__pagination-navigation">
                    <div class="tmd-table__pagination-total">1‑10 of 100</div>
                    <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-table__pagination-button tmd-icon-button--disabled"
                            type="button">first_page
                    </button>
                    <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-table__pagination-button tmd-icon-button--disabled"
                            type="button">chevron_left
                    </button>
                    <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-table__pagination-button"
                            type="button">chevron_right
                    </button>
                    <button class="tmd-icon-button material-icons tmd-icon-button__icon tmd-table__pagination-button"
                            type="button">last_page
                    </button>
                </div>
            </div>
        </div>
    </div>

    <h4 class="tmd-table-header">Data Table with Progress</h4>
    <div class="tmd-table" id="table-progress">
        <table class="tmd-table__table">
            <thead class="tmd-table__header">
            <tr class="tmd-table__header-row">
                <td class="tmd-table__header-cell">ID</td>
                <td class="tmd-table__header-cell">Name</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Age</td>
                <td class="tmd-table__header-cell tmd-table__cell--header-numeric">Percentage</td>
                <td class="tmd-table__header-cell">Comments</td>
            </tr>
            </thead>
            <tbody class="tmd-table__content">
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">1</td>
                <td class="tmd-table__cell">John</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">25</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">30%</td>
                <td class="tmd-table__cell">Comment 1</td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">2</td>
                <td class="tmd-table__cell">Jane</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">35</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">20%</td>
                <td class="tmd-table__cell">Comment 2</td>
            </tr>
            <tr class="tmd-table__row">
                <td class="tmd-table__cell">3</td>
                <td class="tmd-table__cell">Jude</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">45</td>
                <td class="tmd-table__cell tmd-table__cell--numeric">79%</td>
                <td class="tmd-table__cell">Comment 3</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>