<section class="demo-section-text-field">
    <h3 class="tmd-typography--headline3">Text field</h3>

    <h3 class="tmd-typography--subtitle1">Filled</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--filled">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--filled tmd-text-field--with-leading-icon">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">event</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--filled tmd-text-field--with-trailing-icon">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">delete</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Outlined</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--outlined">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--outlined tmd-text-field--with-leading-icon">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">event</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--outlined tmd-text-field--with-trailing-icon">
                    <input class="tmd-text-field__input"/>
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">delete</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Textarea</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--textarea">
                    <textarea class="tmd-text-field__input" maxlength="25"></textarea>
                    <span class="tmd-text-field__label">Textarea</span>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

        </div>
    </div>

    <h3 class="tmd-typography--subtitle1">Disabled</h3>

    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--filled tmd-text-field--with-leading-icon tmd-text-field--state-disable">
                    <input class="tmd-text-field__input" />
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">event</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--outlined tmd-text-field--with-leading-icon tmd-text-field--state-disable">
                    <input class="tmd-text-field__input" />
                    <span class="tmd-text-field__label">Textfield</span>
                    <i class="material-icons tmd-text-field__icon">event</i>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

            <div class="tmd-layout-grid__cell tmd-layout-grid__cell--span-4">

                <label class="tmd-text-field tmd-text-field--textarea tmd-text-field--state-disable">
                    <textarea class="tmd-text-field__input" maxlength="25"></textarea>
                    <span class="tmd-text-field__label">Textarea</span>
                </label>
                <div class="tmd-helper-line">
                    <p class="tmd-helper-line__text">Helper text</p>
                    <p class="tmd-helper-line__text tmd-text-field__character-counter"></p>
                </div>

            </div>

        </div>
    </div>

</section>
