<section class="demo-section-tooltips">
    <h3 class="tmd-typography--headline3">Tooltips</h3>
    <div class="tmd-layout-grid">
        <div class="tmd-layout-grid__inner">
            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button" data-tmd-tooltip="Top"
                    data-tmd-tooltip-position="top">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button"
                    data-tmd-tooltip="Top Right" data-tmd-tooltip-position="top-right">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button" data-tmd-tooltip="Right"
                    data-tmd-tooltip-position="right">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button"
                    data-tmd-tooltip="Bottom Right" data-tmd-tooltip-position="bottom-right">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button" data-tmd-tooltip="Bottom"
                    data-tmd-tooltip-position="bottom">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button"
                    data-tmd-tooltip="Bottom Left" data-tmd-tooltip-position="bottom-left">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button" data-tmd-tooltip="Left"
                    data-tmd-tooltip-position="left">star</button>

            <button class="tmd-icon-button material-icons tmd-icon-button__icon" type="button"
                    data-tmd-tooltip="Top Left" data-tmd-tooltip-position="top-left">star</button>
        </div>
    </div>
</section>