@use '../../base/scss/functions' as base;

.tmd-radio__input {
  display         : flex;
  justify-content : center;
  align-items     : center;
  order           : 0;
  width           : 20px;
  height          : 20px;
  box-sizing      : border-box;
  appearance      : none;
  outline         : none;
  border-width    : 2px;
  border-style    : solid;
  border-color    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
  border-radius   : 50%;
  transition      : border-color 0.2s;
  z-index         : 1;
  cursor          : pointer;
}

// Highlight
.tmd-radio__input {
  &:before {
	content          : '';
	position         : absolute;
	display          : block;
	border-radius    : 50%;
	width            : 40px;
	height           : 40px;
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
	opacity          : 0;
	transform        : scale(0);
	pointer-events   : none;
	transition       : opacity 0.3s, transform 0.2s;
  }
}

// Checkmark
.tmd-radio__input {
  &:after {
	content          : '';
	z-index          : 1;
	display          : block;
	position         : absolute;
	box-sizing       : content-box;
	width            : 10px;
	height           : 10px;
	pointer-events   : none;
	border-radius    : 50%;
	background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	transform        : translate(0, -2px) scale(0);
	transition       : border-color 0.2s;
  }
}

// Checked
.tmd-radio__input {
  &:checked {
	border-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));

	&:before {
	  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}

	&:after {
	  transform : translate(0, 0) scale(1);
	}
  }
}

// Hover, Focus
.tmd-radio {
  &:hover {
	.tmd-radio__input:before {
	  transform : scale(1);
	  opacity   : 0.04;
	}
  }

  .tmd-radio__input:focus:before {
	transform : scale(1);
	opacity   : 0.12;
  }

  &:hover {
	.tmd-radio__input:focus:before {
	  transform : scale(1);
	  opacity   : 0.16;
	}
  }
}

// Active
.tmd-radio {
  &:active {
	.tmd-radio__input {
	  border-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }
}

.tmd-radio:active,
.tmd-radio:active:hover {
  .tmd-radio__input {
	&:before {
	  opacity    : 1;
	  transform  : scale(0);
	  transition : transform 0s, opacity 0s;
	}
  }
}

// Disabled
.tmd-radio--disabled {
  pointer-events : none;

  .tmd-radio__input {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	cursor       : initial;

	&:before {
	  opacity   : 0;
	  transform : scale(0);
	}
  }
}