@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-snackbar {
  z-index         : 8;
  margin          : 8px;
  display         : none;
  position        : fixed;
  right           : 0;
  bottom          : 0;
  left            : 0;
  align-items     : center;
  justify-content : center;
  box-sizing      : border-box;
  pointer-events  : none;
}

.tmd-snackbar--closing,
.tmd-snackbar--open,
.tmd-snackbar--opening {
  display : flex;
}

.tmd-snackbar__surface {
  display          : flex;
  align-items      : center;
  justify-content  : flex-start;
  box-sizing       : border-box;
  transform        : scale(.8);
  opacity          : 0;
  max-width        : 672px;
  box-shadow       : 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  border-radius    : 4px;
  background-color : #333333;
}

.tmd-snackbar--open {
  .tmd-snackbar__surface {
	transform      : scale(1);
	opacity        : 1;
	pointer-events : auto;
	transition     : opacity .15s cubic-bezier(0, 0, .2, 1) 0ms, transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
  }
}

.tmd-snackbar--closing {
  .tmd-snackbar__surface {
	transform  : scale(1);
	transition : opacity 75ms cubic-bezier(.4, 0, 1, 1) 0ms;
  }
}

.tmd-snackbar__surface {
  min-width : 344px;
}

@media (max-width : 344px), (max-width : 480px) {
  .tmd-snackbar__surface {
	min-width : 100%;
  }
}

.tmd-snackbar__label {
  @include typography-mixins.base;
  @include typography-mixins.type('body2');
  flex-grow  : 1;
  box-sizing : border-box;
  margin     : 0;
  padding    : 14px 16px;
  color      : rgba(var(--tmd-theme-surface, base.getDefault('theme-surface')), 0.87);
}

.tmd-snackbar__actions {
  margin-left  : 0;
  margin-right : 8px;
  display      : flex;
  flex-shrink  : 0;
  align-items  : center;
  box-sizing   : border-box;
}

.tmd-snackbar__action:not(:disabled) {
  color : #BB86FC;
}

.tmd-snackbar__dismiss {
  --tmd-ripple-color : #FFFFFF;
  color              : #FFFFFF;
  width              : 36px;
  height             : 36px;
  padding            : 9px;
  font-size          : 18px;

  &:before {
	background-color : #FFFFFF;
  }
}

.tmd-snackbar--leading {
  justify-content : flex-start;
}

.tmd-snackbar--stacked {
  .tmd-snackbar__surface {
	flex-direction : column;
	align-items    : flex-start;
  }

  .tmd-snackbar__actions {
	align-self    : flex-end;
	margin-bottom : 8px;
  }
}