.tmd-table__progress-indicator {
  position   : absolute;
  width      : 100%;
  left       : 0;
  right      : 0;
  top        : 44px;
  opacity    : 0;
  transition : opacity .5s;
}

.tmd-table__progress-indicator--visible {
  opacity : 1;
}