@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-table__pagination {
  @include typography-mixins.base;
  @include typography-mixins.type('body2');
  box-sizing       : border-box;
  display          : flex;
  justify-content  : flex-end;
  min-height       : 52px;
  border-top-width : 1px;
  border-top-style : solid;
  border-top-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
}

.tmd-table__pagination-trailing {
  margin-left     : 4px;
  margin-right    : 0;
  align-items     : center;
  display         : flex;
  flex-wrap       : wrap;
  justify-content : flex-end;
}

.tmd-table__pagination-rows-per-page {
  margin-left  : 0;
  margin-right : 22px;
  align-items  : center;
  display      : inline-flex;
}

.tmd-table__pagination-rows-per-page-label {
  margin-left  : 0;
  margin-right : 12px;
  white-space  : nowrap;
  color        : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
}

.tmd-table__pagination-rows-per-page-select {
  min-width : 80px;
  margin    : 8px 0;
}

.tmd-table__pagination-rows-per-page-select,
.tmd-table__pagination-rows-per-page-select .tmd-select__anchor {
  height : 36px;
}

.tmd-table__pagination-rows-per-page-select {
  .tmd-list-item {
	height : 36px;
  }

  .tmd-select__list {
	top : 46px;
  }

  .tmd-select__list--top {
	bottom : 44px;
	top    : unset;
  }
}

.tmd-table__pagination-rows-per-page-select {
  &.tmd-select {
	margin-bottom : 8px;
  }
}

.tmd-table__pagination-navigation {
  align-items : center;
  display     : flex;
}

.tmd-table__pagination-total {
  margin-left  : 14px;
  margin-right : 36px;
  white-space  : nowrap;
  color        : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
}