@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-table {
  display          : inline-flex;
  flex-direction   : column;
  border-radius    : 4px;
  box-sizing       : border-box;
  border           : 1px solid rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  position         : relative;
  overflow-x       : auto;
  max-width        : 100%;
}

.tmd-table--fullwidth {
  display : flex;
}

.tmd-table__table {
  min-width       : 100%;
  border          : 0;
  white-space     : nowrap;
  border-collapse : collapse;
  table-layout    : fixed;
}