@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-table__header-row,
.tmd-table__row {
  background-color : inherit;
}

.tmd-table__row {
  border-top-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
  border-top-width : 1px;
  border-top-style : solid;

  &:hover {
	&:not(.tmd-table__row--state-selected) {
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.04);
	}
  }
}

.tmd-table__row--state-selected {
  background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.04);
}
