@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-table__header-cell,
.tmd-table__cell {
  @include typography-mixins.base;

  color         : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
  padding-right : 16px;
  padding-left  : 16px;

  box-sizing    : border-box;
  text-align    : left;
  text-overflow : ellipsis;
  overflow      : hidden;
}

.tmd-table__header-cell {
  @include typography-mixins.type('subtitle2');

  height : 56px;
}

.tmd-table__cell {
  @include typography-mixins.type('body2');

  height : 52px;
}

.tmd-table__cell--header-numeric,
.tmd-table__cell--numeric {
  text-align : right;
}

.tmd-table__header-cell--checkbox,
.tmd-table__cell--checkbox {
  padding-left  : 16px;
  padding-right : 0;
}

.tmd-table__header-cell--with-sort {
  cursor : pointer;
}

.tmd-table__header-cell-wrapper {
  align-items    : center;
  display        : inline-flex;
  vertical-align : middle;

}

.tmd-table__sort-icon-button {
  order : 1;
}

.tmd-table__header-cell-label {
  order : 0;
}

.tmd-table__cell--header-numeric {
  .tmd-table__header-cell-label {
	order : 2;
  }
}

.tmd-table__header-cell-wrapper {
  &:hover {
	.tmd-table__sort-icon-button {
	  opacity : 1;
	}
  }
}

.tmd-table__sort-icon-button {
  transition : opacity .5s;
  opacity    : 0;
}

.tmd-table__sort-icon-button,
.tmd-table__pagination-button {
  &:before,
  &:after {
	content : none;
  }
}