@use '../../base/scss/functions' as base;

.tmd-list-divider {
  height              : 0;
  margin              : 0;
  border              : none;
  border-bottom-width : 1px;
  border-bottom-style : solid;
  border-bottom-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .12);
}