@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-list {
  @include typography-mixins.base;
  @include typography-mixins.type('subtitle1');

  margin           : 0;
  padding          : 8px 0;
  list-style-type  : none;
  z-index          : 10;
  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-surface')));
}