@use '../../base/scss/functions' as base;

.tmd-list-item__graphic {
  display         : inline-flex;
  margin-left     : 0;
  margin-right    : 32px;
  width           : 24px;
  height          : 24px;
  flex-shrink     : 0;
  align-items     : center;
  justify-content : center;
  fill            : currentColor;
  color           : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
}

.tmd-list--avatar-list {
  .tmd-list-item__graphic {
	margin-right     : 16px;
	width            : 40px;
	height           : 40px;
	border-radius    : 50%;
	background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .3);
	color            : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
  }

  .tmd-list-item--selected {
	.tmd-list-item__graphic {
	  color : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
	}
  }
}