@use '../../base/scss/functions' as base;

.tmd-list-item__meta {
  margin-left  : auto;
  margin-right : 0;
  color        : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
}

.tmd-list-item--selected {
  .tmd-list-item__meta {
	color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  }
}