@use '../../base/scss/functions' as base;

.tmd-list-item {
  display          : flex;
  position         : relative;
  align-items      : center;
  justify-content  : flex-start;
  height           : 48px;
  padding          : 0 16px;
  overflow         : hidden;
  outline          : none;
  background-color : transparent;
  color            : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
  text-decoration  : none;
}

// Highlight
.tmd-list-item {
  &:before,
  &:after {
	content       : '';
	position      : absolute;
	top           : 0;
	left          : 0;
	right         : 0;
	bottom        : 0;
	border-radius : inherit;
	opacity       : 0;
	cursor        : pointer;
  }

  &:before {
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
  }
}

// Ripple
.tmd-list-item {
  &:not(.tmd-ripple-upgraded) {
	&:before {
	  transition : opacity 0.2s;
	}

	&:after {
	  background : radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
	  transition : opacity 0.5s, background-size 0.2s;
	}

	&:active {
	  &:after {
		opacity         : 0.28;
		background-size : 100% 100%;
		transition      : background-size 0s;
	  }
	}
  }
}

// Hover, Focus
.tmd-list-item {
  &:hover:before {
	opacity : calc(var(--tmd-list-hover-opacity) * 1);
  }

  &:focus:before {
	opacity : calc(var(--tmd-list-hover-opacity) * 2);
  }

  &:hover:focus:before {
	opacity : calc(var(--tmd-list-hover-opacity) * 4);
  }
}

// Selected
.tmd-list-item--selected {
  background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.24);
  color            : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')));

  &:before {
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-primary')));
  }

  .tmd-list-item__graphic {
	color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  }
}


// Ripple component
.tmd-list-item {
  &.tmd-ripple-upgraded:not(.tmd-list-item--selected) {
	.tmd-ripple {
	  --tmd-ripple-color   : var(--tmd-theme-on-surface, #{base.getDefault('theme-on-surface')});
	  --tmd-ripple-opacity : 0.24;
	}
  }

  &.tmd-list-item--selected {
	.tmd-ripple {
	  --tmd-ripple-color   : var(--tmd-theme-primary, #{base.getDefault('theme-primary')});
	  --tmd-ripple-opacity : 0.32;
	}
  }
}