@use '../../base/scss/functions' as base;

.tmd-list--two-line {

  .tmd-list-item {
	height : 72px;
  }

  .tmd-list-item__text {
	line-height : normal;
  }

  .tmd-list-item__primary-text {
	display : block;
  }

  .tmd-list-item__secondary-text {
	display        : block;
	font-size      : .875rem;
	line-height    : 1.25rem;
	font-weight    : 400;
	letter-spacing : .0178571429em;
	color          : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.54);
  }

  .tmd-list-item__text,
  .tmd-list-item__primary-text,
  .tmd-list-item__secondary-text {
	text-overflow : ellipsis;
	white-space   : nowrap;
	overflow      : hidden;
  }
}







