.tmd-text-field__input {
  display          : flex;
  align-content    : center;
  align-items      : center;
  box-sizing       : border-box;
  width            : 100%;
  height           : 56px;
  padding          : 16px 16px 0 16px;
  outline          : none;
  background-color : transparent;
  box-shadow       : none;
  border           : 0;
  color            : inherit;
  font-family      : inherit;
  font-size        : inherit;
  line-height      : inherit;
  font-weight      : inherit;
  letter-spacing   : inherit;
  text-decoration  : inherit;
  text-transform   : inherit;
}