.tmd-text-field--with-trailing-icon {
  .tmd-text-field__icon {
	position       : absolute;
	right          : 12px;
	left           : auto;
	cursor         : default;
	pointer-events : none;
  }

  .tmd-text-field__input {
	padding-right : 46px !important;
  }
}