@use '../../base/scss/functions' as base;

.tmd-text-field--filled {
  border              : 0 solid rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.42);
  border-radius       : 4px 4px 0 0;
  border-bottom-width : 1px;

  &:before {
	content          : '';
	position         : absolute;
	bottom           : 0;
	left             : 0;
	right            : 0;
	height           : 2px;
	background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	transform        : scale(0);
	transition       : transform .2s;
  }

  .tmd-text-field__input {
	background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.03);
	padding-top      : 16px;
  }

  .tmd-text-field__label {
	background-color : transparent;
  }

  &:hover {
	border-color     : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.06);
  }

  &.tmd-text-field--focus {
	border-color : transparent;

	&:before {
	  transform : scale(1);
	}

	.tmd-text-field__label {
	  color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }

  &.tmd-text-field--selected {
	.tmd-text-field__input {
	  color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	}
  }

  &.tmd-text-field--selected,
  &.tmd-text-field--focus {
	.tmd-text-field__label {
	  top       : 0;
	  bottom    : auto;
	  font-size : 75%;
	}
  }
}