.tmd-text-field--with-leading-icon {
  .tmd-text-field__icon {
	position       : absolute;
	left           : 16px;
	right          : auto;
	cursor         : default;
	pointer-events : none;
  }

  .tmd-text-field__input {
	padding-left : 46px !important;
  }

  .tmd-text-field__label {
	left : 42px;
  }
}