@use '../../base/scss/functions' as base;

.tmd-text-field--textarea {
  border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.42);

  &:before {
	content        : '';
	position       : absolute;
	top            : 0;
	bottom         : 0;
	left           : 0;
	right          : 0;
	border         : 2px solid rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	opacity        : 0;
	border-radius  : 4px;
	pointer-events : none;
  }

  &:hover {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
  }

  .tmd-text-field__label {
	top    : 17px;
	bottom : unset;
  }

  &.tmd-text-field--focus {
	border-color : transparent;

	&:before {
	  opacity : 1;
	}

	.tmd-text-field__label {
	  color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }

  &.tmd-text-field--selected {
	.tmd-text-field__input {
	  color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
	}
  }

  &.tmd-text-field--selected,
  &.tmd-text-field--focus {
	.tmd-text-field__label {
	  top              : -13px;
	  bottom           : auto;
	  font-size        : 75%;
	  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
	}
  }
}