@use '../../base/scss/functions' as base;

.tmd-text-field__label {
  display          : inline-flex;
  align-content    : center;
  align-items      : center;
  top              : 25px;
  bottom           : 25px;
  position         : absolute;
  left             : 12px;
  padding          : 0 4px 0 4px;
  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  transition       : font-size 0.2s, top 0.2s;
  z-index          : 1;
  pointer-events   : none;
}

// Disable
.tmd-text-field--state-disable,
.tmd-text-field--state-disable:hover {
  .tmd-text-field__label {
    color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;
  }
}