@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-text-field {
  @include typography-mixins.base;
  @include typography-mixins.type('body1');

  position      : relative;
  display       : inline-flex;
  align-content : center;
  align-items   : center;
  box-sizing    : border-box;
  width         : 100%;
  color         : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
  border-style  : solid;
  border-width  : 1px;
  border-color  : transparent;
  border-radius : 4px;
}

// Disable
.tmd-text-field--state-disable,
.tmd-text-field--state-disable:hover {
  pointer-events : none;
  cursor         : none;
  color          : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;
  border-color   : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38) !important;
}
