@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-card {
  border-radius    : 4px;
  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  box-shadow       : 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
  display          : flex;
  flex-direction   : column;
  box-sizing       : border-box;
}

.tmd-card__body {
  display         : flex;
  flex-direction  : column;
  position        : relative;
  outline         : none;
  color           : inherit;
  text-decoration : none;
  overflow        : hidden;
}

.mdc-card__primary-action {
  &:first-child {
	border-top-left-radius  : inherit;
	border-top-right-radius : inherit;
  }
}

.tmd-card__media-content,
.tmd-card__body {
  box-sizing : border-box;
}

.tmd-card__media-content {
  position : absolute;
  top      : 0;
  right    : 0;
  bottom   : 0;
  left     : 0;
}

.tmd-card__media {
  position            : relative;
  box-sizing          : border-box;
  background-repeat   : no-repeat;
  background-position : 50%;
  background-size     : cover;
}

.tmd-card__media--16-9:before {
  margin-top : 56.25%;
}

.tmd-card__media--square:before {
  margin-top : 100%;
}

.tmd-card__media:before {
  display : block;
  content : '';
}

.tmd-card__media:first-child {
  border-top-left-radius  : inherit;
  border-top-right-radius : inherit;
}

.tmd-card__primary {
  padding : 1rem;
}

.tmd-card__title {
  @include typography-mixins.base;
  @include typography-mixins.type('headline6');
  margin : 0;
}

.tmd-card__subtitle {
  @include typography-mixins.base;
  @include typography-mixins.type('subtitle2');
  margin : 0;
  color  : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .54);
}

.tmd-card__secondary {
  @include typography-mixins.base;
  @include typography-mixins.type('body2');
  padding : 0 1rem 8px;
  color   : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .54);
}

.tmd-card--with-text-over-media {
  .tmd-card__media-content {
	display     : flex;
	align-items : flex-end;
  }

  .tmd-card__title,
  .tmd-card__subtitle {
	color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  }
}

.tmd-card--with-text-over-media,
.tmd-card--with-header {
  .tmd-card__secondary {
	padding-top : 1rem;
  }
}

.tmd-card__actions {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  box-sizing     : border-box;
  min-height     : 52px;
  padding        : 8px;
}

.tmd-card__button-group,
.tmd-card__icon-group {
  display        : flex;
  flex-direction : row;
  align-items    : center;
  box-sizing     : border-box;
}

.tmd-card__button {
  margin-left  : 0;
  margin-right : 8px;
  padding      : 0 8px;
}

.tmd-card__button:last-child,
.tmd-card__button:last-child[dir=rtl],
[dir=rtl] .tmd-card__button:last-child {
  margin-left  : 0;
  margin-right : 0;
}

.tmd-card__button-group {
  + .mdc-card__action-icons {
	margin-left  : 16px;
	margin-right : 0;
  }
}

.tmd-card__icon-group {
  color           : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .6);
  flex-grow       : 1;
  justify-content : flex-end;
}

.tmd-card__icon {
  margin : -6px 0;
  color  : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), .6);
}

.tmd-card--horizontal {
  .tmd-card__body {
	display        : flex;
	flex-direction : row;
  }

  .tmd-card__media--square {
	width : 110px;
  }
}

.tmd-card--shaped {
  border-radius : 24px 8px;
}