@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-checkbox {
  @include typography-mixins.base;
  @include typography-mixins.type('body1');

  display        : inline-flex;
  flex-direction : row;
  color          : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.87);
  z-index        : 0;
}

// Multiple
.tmd-checkbox {
  + .tmd-checkbox {
	margin-left : 1rem;
  }
}