@use '../../base/scss/functions' as base;

.tmd-checkbox__label {
  display      : inline-block;
  box-sizing   : border-box;
  order        : 1;
  padding-left : .5rem;
}

.tmd-checkbox--disabled {
  .tmd-checkbox__label {
	color  : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	cursor : initial;
  }
}