@use '../../base/scss/functions' as base;

.tmd-checkbox__input {
  display         : flex;
  justify-content : center;
  align-items     : center;
  order           : 0;
  width           : 18px;
  height          : 18px;
  box-sizing      : border-box;
  appearance      : none;
  outline         : none;
  border-width    : 2px;
  border-style    : solid;
  border-color    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
  border-radius   : 2px;
  transition      : border-color 0.2s, background-color 0.2s;
  z-index         : 1;
  cursor          : pointer;
}

// Highlight
.tmd-checkbox__input {
  &:before {
	content          : '';
	position         : absolute;
	display          : block;
	border-radius    : 50%;
	width            : 40px;
	height           : 40px;
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
	opacity          : 0;
	transform        : scale(1);
	pointer-events   : none;
	transition       : opacity 0.3s, transform 0.2s;
  }
}

// CheckMark
.tmd-checkbox__input {
  &:after {
	content            : '';
	z-index            : 1;
	display            : block;
	position           : absolute;
	box-sizing         : content-box;
	width              : 10px;
	height             : 5px;
	border             : solid 2px transparent;
	border-right-width : 0;
	border-top-width   : 0;
	pointer-events     : none;
	transform          : translate(0, -2px) rotate(-45deg);
	transition         : border-color 0.2s;
  }
}

// Checked, Indeterminate
.tmd-checkbox__input {
  &:checked,
  &:indeterminate {
	border-color     : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));

	&:before {
	  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}

	&:after {
	  border-color : rgb(var(--tmd-theme-on-primary, base.getDefault('theme-on-primary')));
	}
  }

  &:indeterminate {
	&:after {
	  border-left-width : 0;
	  transform         : translate(0, -3px);
	}
  }
}

// Hover, focus
.tmd-checkbox {
  &:hover {
	.tmd-checkbox__input:before {
	  opacity : 0.04;
	}
  }

  .tmd-checkbox__input:focus:before {
	opacity : 0.12;
  }

  &:hover {
	.tmd-checkbox__input:focus:before {
	  opacity : 0.16;
	}
  }

}

// Ripple, active
.tmd-checkbox {
  &:active {
	.tmd-checkbox__input {
	  border-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }

  &:hover {
	.tmd-checkbox__input {
	  border-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}
  }
}

.tmd-checkbox {
  &:active {
	.tmd-checkbox__input {
	  &:checked {
		border-color     : transparent;
		background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.6);
	  }

	  &:before {
		opacity    : 1;
		transform  : scale(0);
		transition : transform 0s, opacity 0s;
	  }
	}
  }
}


// Disabled
.tmd-checkbox--disabled {

  pointer-events : none;

  .tmd-checkbox__input {
	border-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	cursor       : initial;

	&:checked,
	&:indeterminate {
	  border-color     : transparent;
	  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	}

	&:before {
	  opacity   : 0;
	  transform : scale(0);
	}
  }
}
