@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-menu {
  position   : relative;
  box-sizing : border-box;
}

.tmd-menu__list {
  position         : absolute;
  background       : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  border           : transparent;
  top              : 16px;
  left             : 0;
  border-radius    : 4px;
  opacity          : 0;
  min-width        : 150px;
  z-index          : 8;
  transform        : scale(0);
  transform-origin : center top;
  transition       : transform 0.2s ease-in-out;
  box-shadow       : 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
  overflow         : auto;
}

.tmd-menu__list--open {
  opacity   : 1;
  transform : scale(1);

}

.tmd-menu__list--top {
  transform-origin : center bottom;
  top              : unset;
  bottom           : 0;
}

.tmd-menu__list {
  &::-webkit-scrollbar {
	width         : 6px;
	background    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.06);
	border-radius : 4px;
  }

  &::-webkit-scrollbar-thumb {
	background    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.12);
	border-radius : 4px;
  }
}