@use '../../base';
@use 'variables';

@mixin base {
  font-family             : var(--tmd-font-family, base.getDefault('font-family'));
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
}

@mixin type($name) {
  $styles         : map-get(variables.$typography, $name);

  font-size       : map-get($styles, font-size);
  line-height     : map-get($styles, line-height);
  font-weight     : map-get($styles, font-weight);
  letter-spacing  : map-get($styles, letter-spacing);
  text-decoration : map-get($styles, text-decoration);
  text-transform  : map-get($styles, text-transform);
}