@use 'variables';
@use 'mixins';

.tmd-typography {
  @include mixins.base;
}

@each $name, $styles in variables.$typography {
  .tmd-typography--#{$name} {
	@include mixins.base;
	@include mixins.type($name);
  }
}
