/* Main */
section {
	width         : 70%;
	margin        : 25px 200px 0 200px;
	border        : 1px solid rgba(0, 0, 0, .2);
	border-radius : 5px;
	padding       : 25px;
	box-sizing    : border-box;
	display       : block;
}

body {
	padding : 1rem 0 10rem 0;
}

/* Component switch */
.demo-select-component {
	background : #FFFFFF;
	padding    : 1rem;
	position   : fixed;
	width      : 30%;
	bottom     : 0;
	z-index    : 5;
	left       : 50%;
	transform  : translateX(-50%);
}

@media screen and (max-width : 471px) {
	body {
		padding : 10px 10px 10rem 10px;
		margin  : 0;
	}

	section {
		width   : 100%;
		margin  : 25px 0 0 0;
		padding : 10px;
	}

	.demo-select-component {
		width      : 75%;
	}
}

/* Typography */
.demo-section-typography > p {
	margin  : 0;
	padding : 1rem;
}

.demo-section-typography > p + p {
	border-top : 1px solid rgba(0, 0, 0, 0.05);
}

/* Layout grid */
.demo-grid--cell-alignment, .demo-inner {
	min-height : 200px;
}

.demo-grid {
	background : rgba(0, 0, 0, .2);
	min-width  : 360px;
}

.demo-cell--alignment {
	max-height : 50px;
}

.demo-cell--alignment {
	max-height : 50px;
}

.demo-cell {
	background : rgba(0, 0, 0, .2);
	height     : 100px;
}

@media screen and (max-width : 471px) {
	.demo-grid {
		min-width : unset !important;
		width     : 100%;
	}
}

/* List */
.demo-list {
	height : 300px;
	border : 1px solid rgba(0, 0, 0, .2);
}

/* Select */
.tmd-select {
	margin-bottom : 1rem;
}


