@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

// Track
.tmd-switch__input {
  position         : relative;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  order            : 0;
  width            : 46px;
  height           : 24px;
  appearance       : none;
  outline          : none;
  border           : solid 5px transparent;
  border-radius    : 12px;
  background-clip  : padding-box;
  background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
  transition       : background-color 0.2s, opacity 0.2s;
}

// Highlight
.tmd-switch__input {
  &:before {
	content          : '';
	position         : absolute;
	right            : 10px;
	display          : block;
	border-radius    : 50%;
	width            : 40px;
	height           : 40px;
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
	opacity          : 0;
	transform        : scale(1);
	transition       : opacity 0.3s 0.1s, transform 0.2s 0.1s;
	cursor           : pointer;
  }
}

// Thumb
.tmd-switch__input {
  &:after {
	content          : '';
	z-index          : 1;
	position         : absolute;
	right            : 20px;
	border-radius    : 50%;
	width            : 20px;
	height           : 20px;
	background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
	box-shadow       : 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	pointer-events   : none;
	transition       : background-color 0.2s, transform 0.2s;
  }
}

// Checked
.tmd-switch__input {
  &:checked {
	background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.6);

	&:before {
	  right            : -10px;
	  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	}

	&:after {
	  background-color : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	  transform        : translateX(20px);
	}
  }
}

// Hover, focus
.tmd-switch {
  &:hover {
	.tmd-switch__input:before {
	  opacity : 0.04;
	}
  }

  .tmd-switch__input:focus:before {
	opacity : 0.12;
  }

  &:hover {
	.tmd-switch__input:focus:before {
	  opacity : 0.16;
	}
  }
}

// Active
.tmd-switch {
  &:active {
	.tmd-switch__input {
	  background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.6);

	  &:before {
		opacity    : 1;
		transform  : scale(0);
		transition : transform 0s, opacity 0s;
	  }

	  &:checked {
		background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	  }
	}
  }
}

// Disabled
.tmd-switch--disabled {
  .tmd-switch__input {
	background-color : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.38);
	opacity          : 0.38;
	cursor           : default;

	&:before {
	  z-index          : 1;
	  margin           : 10px;
	  width            : 20px;
	  height           : 20px;
	  background-color : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
	  transform        : scale(1);
	  opacity          : 1;
	  transition       : none;
	}

	&:after {
	  opacity : 0.38;
	}

	&:checked {
	  background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.6);
	}
  }
}
