@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-tooltip {
  @include typography-mixins.base;

  position         : absolute;
  padding          : 4px 8px;
  transform        : scale(0);
  transition       : transform 0.2s ease-in-out;
  transform-origin : inherit;
  background       : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.65);
  color            : rgb(var(--tmd-theme-surface, base.getDefault('theme-surface')));
  border-radius    : 2px;
  font-size        : 12px;
  font-weight      : 400;
}

.tmd-tooltip--active {
  transform : scale(1);
}