@use '../../base/scss/functions' as base;

.tmd-chip__icon {
  width        : 20px;
  height       : 20px;
  font-size    : 20px;
  color        : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.54);
  margin-left  : -4px;
  margin-right : 4px;
}

.tmd-chip-set--choice {
  .tmd-chip--selected {
	.tmd-chip__icon {
	  color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.54);
	}
  }
}

.tmd-chip__checkmark {
  width      : 0;
  opacity    : 0;
  transition : width 0.2s ease-in-out, opacity 0.2s;
}

.tmd-chip-set--filter {
  .tmd-chip--selected {
	.tmd-chip__checkmark {
	  width   : 20px;
	  opacity : 1;
	}
  }
}