@use '../../base/scss/functions' as base;
@use '../../typography/scss/mixins' as typography-mixins;

.tmd-chip {
  --tmd-ripple-color   : var(--tmd-theme-on-surface, #{base.getDefault('theme-on-surface')});
  --tmd-ripple-opacity : 0.24;
  --tmd-ripple-scale   : 10;
}

.tmd-chip {
  @include typography-mixins.base;
  @include typography-mixins.type('body2');

  color         : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.7);
  background    : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.08);

  height        : 32px;
  display       : inline-flex;
  position      : relative;
  align-items   : center;
  box-sizing    : border-box;
  padding       : 0 12px;
  border-width  : 0;
  outline       : none;
  overflow      : hidden;
  border-radius : 16px;

  &:before,
  &:after {
	position      : absolute;
	top           : 0;
	right         : 0;
	bottom        : 0;
	left          : 0;
	content       : '';
	opacity       : 0;
	border-radius : inherit;
	cursor        : pointer;
  }

  &:before {
	background-color : rgb(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')));
  }

  &:hover {
	background : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.16);
  }
}

.tmd-chip-set--choice {
  .tmd-chip--selected {
	--tmd-ripple-color : var(--tmd-theme-primary, #{base.getDefault('theme-primary')});
	color              : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
	background         : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.12);

	&:hover {
	  background : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.16);
	}
  }
}

.tmd-chip-set--filter {
  .tmd-chip--selected {
	color      : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.9);
	background : rgba(var(--tmd-theme-on-surface, base.getDefault('theme-on-surface')), 0.18);
  }
}

// Pure css ripple.
// Is just a replacement for the 'tmd-ripple' component.
.tmd-chip {
  &:not(.tmd-ripple-upgraded) {

	&:before {
	  transition : opacity 0.2s;
	}

	&:after {
	  transition : opacity 1s, background-size 0.5s;
	  background : radial-gradient(circle at center, currentColor 1%, transparent 1%) center/10000% 10000% no-repeat;
	}

	&:active:after {
	  transition      : background-size 0s;
	  opacity         : 0.32;
	  background-size : 100% 100%;
	}

	&:active:hover:focus:before {
	  opacity : calc(var(--tmd-chip-highlight-box-opacity, 0.06) * 6);
	}
  }
}