@use 'palette';

@function getColor($color-name, $color-variant: '500') {
  $color : map-get(map-get(palette.$palette, $color-name), $color-variant);

  @if $color {
	@return $color;
  } @else {
	// Lib sass still doesn't seem to support @error
	@warn '=> ERROR: COLOR NOT FOUND! <= | Your $color-name, $color-variant combination did not match any of the values in the $material-colors map.';
  }
}

@function getColorRGB($color-name, $color-variant: '500') {
  $color : getColor($color-name, $color-variant);
  @return #{red($color)},#{green($color)},#{blue($color)};
}