@use 'variables';

@each $name, $rgb in variables.$default-theme-colors {
  .tmd-theme__primary--#{$name} {
	--tmd-theme-primary : #{$rgb};
  }
}

.tmd-theme--dark-mode {
  --tmd-theme-on-primary : #{0, 0, 0};
  --tmd-theme-surface : #{0, 0, 0};
  --tmd-theme-on-surface : #{255, 255, 255};
}