@use '../../base/scss/functions' as base;
@use 'variables';

.tmd-progress-linear {
  appearance       : none;
  border           : none;
  height           : 0.25em;
  color            : rgb(var(--tmd-theme-primary, base.getDefault('theme-primary')));
  background-color : rgba(var(--tmd-theme-primary, base.getDefault('theme-primary')), 0.25);
  font-size        : 16px;
  width            : 100%;

  &::-webkit-progress-bar {
	background-color : transparent;
  }

  // Determinate
  &::-webkit-progress-value {
	background-color : currentColor;
	transition       : all 0.2s;
  }

  &::-moz-progress-bar {
	background-color : currentColor;
	transition       : all 0.2s;
  }

  &::-ms-fill {
	border           : none;
	background-color : currentColor;
	transition       : all 0.2s;
  }

  // Indeterminate
  &:indeterminate {
	background-size  : 200% 100%;
	background-image : linear-gradient(to right, transparent 50%, currentColor 50%, currentColor 60%, transparent 60%, transparent 71.5%, currentColor 71.5%, currentColor 84%, transparent 84%);
	animation        : progress-linear 2s infinite linear;

	@each $speed in variables.$tmd-progress-linear-speed {
	  &.progress-linear_speed#{$speed} {
		animation : progress-linear #{$speed} + 's' infinite linear;
	  }
	}

	&::-moz-progress-bar {
	  background-color : transparent;
	}

	&::-ms-fill {
	  animation-name : none;
	}
  }
}

@keyframes progress-linear {
  0% {
	background-size     : 200% 100%;
	background-position : left -31.25% top 0%;
  }
  50% {
	background-size     : 800% 100%;
	background-position : left -49% top 0%;
  }
  100% {
	background-size     : 400% 100%;
	background-position : left -102% top 0%;
  }
}
